@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
  font-family: 'Josefin Sans', sans-serif;
}
.hero-text{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
}
.active{
  background-color: white;
  color: black;
}